/* I always reset all the html elements 
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: sans-serif;
	min-height: 100vh;
	color: #555;
	background-color: coral;
}

form, .content{
	max-width: 400px;
	min-height: 500px;
	margin: 100px auto;
	border:  thin solid #e4e4e4;
	padding: 40px 30px;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
	background-color: white;
}

form h2{
	margin-bottom: 10px;
}

form h4{
	margin-bottom: 40px;
	font-weight: normal;
}
form h4 span{
	color:  coral;
	font-weight: bold;
	text-decoration: underline;
}
form label{
	display: block;
	margin-bottom: 10px;
	padding-left: 5px;
}

form input, form textarea{
	display: block;
	width:  100%;
	padding: 10px;
	margin-bottom: 10px;
	font-size: 16px;
	border:  thin solid #e4e4e4;
	margin-bottom: 30px;
}

form select{
	display: block;
	width:  100%;
	margin-bottom: 10px;
	padding: 10px;
	font-size: 16px;
	border:  thin solid #e4e4e4;
	background-color: white;
	color: #555;
}

form input:focus
{
	outline: none;
	border: thin solid coral;
}

form textarea{
	min-height: 150px;
}

form input::placeholder{
	font-size: 16px;
}

form button{
	background: #32749a;
	color: white;
	border: none;
	padding: 15px;
	width:  100%;
	font-size: 16px;
	margin-top: 20px;
	cursor: pointer;
}

form button:active{
	background-color: green;
}

.error{
	margin-top: 30px;
	color: #af0c0c;
}

.success{
	margin-top: 30px;
	color: green;
}

.content header a{
	text-decoration: none;
	padding: 6px 20px;
	border: thin solid #d4d4d4;
	font-size: 14px;
	font-weight: normal;
	background: #e4e4e4;
	color: #555;
}

 .content header{
	 display: flex;
	 justify-content: space-between;
	 align-items: center;
	 border-bottom: thin solid #e4e4e4;
	 padding-bottom: 30px;
 }

.content main{
	margin-top: 50px;
}

.content main h3{

}
*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
}

body{
	background-color: black;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    
    background: url('background6.jpg')no-repeat;
    background-position: center;
    background-size: cover;
}
.form-box{
    position: relative;
    width: 400px;
    height: 450px;
    background: transparent;
    border: 2px solid rgba(255,255,255,0.5);
    border-radius: 20px;
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    align-items: center;

}
h2{
    font-size: 2em;
    color: #fff;
    text-align: center;
}
.inputbox{
    position: relative;
    margin: 30px 0;
    width: 310px;
    border-bottom: 2px solid #fff;
}
.inputbox label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 1em;
    pointer-events: none;
    transition: .5s;
}
input:focus ~ label,
input:valid ~ label{
top: -5px;
}
.inputbox input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding:0 35px 0 5px;
    color: #fff;
}
.inputbox ion-icon{
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.2em;
    top: 20px;
}

button{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
}
.register{
    font-size: .9em;
    color: #fff;
    text-align: center;
    margin: 25px 0 10px;
}
.register p a{
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}
.register p a:hover{
    text-decoration: underline;
}

.error{
	margin-top: 30px;
	color: #af0c0c;
	text-align: center;
}

.success{
	margin-top: 30px;
	color: green;
	text-align: center;
}